/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
 
----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
	all: unset;
	background-image: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background: rgba(0, 0, 0, 0.5);
}

button {
	font-family: 'Material Symbols Outlined';
	font-size: 10rem;
	background-color: rgba(11, 11, 11, 0.4);
	color: #FFFFFF;
	margin: 2rem;
	border-radius: 2rem;
	padding: 3rem;
}

button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius: 4rem;
}
